.footer{
    background-color: black;
    color: #fff;
    padding: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    bottom: 0;
    
}           


.social_list {

display: flex;
justify-content: center ;
list-style-type: none ;

}


.social_list li {

    margin: 0 1em;

}



.social_list li:hover {

    color: #ff7e33

}

.social_list svg {

    font-size: 1.5em;
    cursor: pointer;

}

.copy_right {
    margin-top: 2em;

}

.copy_right span {

    font-weight: bold;
    color: #ff7e33

}
/* Estilos para telas maiores (desktops) */
@media (min-width: 1024px) {
    body {
      font-size: 16px;
    }
  
    /* Adicione mais estilos específicos para desktops aqui */
  }
  
  /* Estilos para tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 14px;
    }
  
    /* Adicione mais estilos específicos para tablets aqui */
  }
  
  /* Estilos para celulares */
  @media (max-width: 767px) {
    body {
      font-size: 12px;
    }
  
    /* Adicione mais estilos específicos para celulares aqui */
  }